﻿@model IEnumerable<MyNotebook.Models.Entry>
@{
    Layout = null;
}

<html>
    <head>
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>

    <div>
        <h1>My Notebook</h1>
        <h3>Entries</h3>

        <table id="noteTable">
        <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Text</th>
        <th>Tags</th>
        
        </tr>
        @foreach (var item in Model){    
        <tr>
        <td>@item.Date  </td>
        <td>@item.Title</td>
        <td>@item.Text</td>
        <td>@item.Tag</td>
       
            <!-- This will be used to delete unwanted entries -->
        <!--<td> Html.ActionLink("Delete", "Delete", new { id=item.entryID})</td>-->
        </tr>
        }
        </table> 
        <br />
       

        <br /><br />
       @Html.ActionLink("Add a Journal Entry", "NewEntry")
        <br /><br />
       
      
    </div>

    </body>
</html>
