﻿@model MyNotebook.Models.Entry

@{
    ViewBag.Title = "New Entry";
   
}

<h2>NewEntry</h2>

@using(Html.BeginForm())
{

    @: Title @Html.TextBoxFor(x => x.Title) <br />
    @: Text @Html.TextBoxFor(x=> x.Text) <br />
    @: Date @Html.TextBoxFor(x=> x.Date)<br />
    @: Tags @Html.TextBoxFor(x=> x.Tag)<br />
    
    <input type="submit" value="Enter your new entry" />
}
