﻿@model IEnumerable<MyNotebook.Models.Entry>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>SearchIndex</h2>
@using (Html.BeginForm("SearchIndex","Home", FormMethod.Get))
{   <p> Search By Tag: @Html.DropDownList("tagKeyword", "None")</p>
    <p> Search By Title: @Html.TextBox("SearchString") <br /><br />
        <input type="submit" value="Filter" />

    </p>
}
<br /><br />

 <table  id="noteTable">
        <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Text</th>
        <th>Tag</th>
        
        </tr>
        @foreach (var item in Model){    
        <tr>
        <td>@item.Date  </td>
        <td>@item.Title</td>
        <td>@item.Text</td>
        <td>@item.Tag</td>
       
            <!-- This will be used to delete unwanted entries -->
        <!--<td> Html.ActionLink("Delete", "Delete", new { id=item.entryID})</td>-->
        </tr>
        }
        </table> 
